body {
  height: 150vh;
}
div {
  width: 100px;
  height: 100px;
  position: relative;
  border: 1px solid black;
  background: red;
  margin-bottom: 200px;
}
div:nth-child(2n) {
}
/* h2 {
  margin: 100px;
  font-size: 50px;
  color: green;
  animation-name: animtitre;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-direction: alternate;
}
 
@keyframes animtitre{

  0%{
    margin-top:0%;
    margin-left: 0%;
    font-size: 300px
  }
  100%{
    margin-top:30%;
    margin-left:0;
    font-size: 100px;
    
  }


} */